<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="root-container">
<div id="Header" class="header-container">
    <div class="header-container">

        <img src="{{template_src}}/logo.png" alt="Logo">
    </div>
    <div class="header-container">
        <p>
            28  W 27th St <br>
            Suite 701 <br>
            New York, New York 10001 <br>
            Tel: (212)-366-0408 <br>
            Fax: (866)-59-4524            
        </p>
    </div>
    <div class="container"></div>
    <div class="header-container">
        <p>
            Torre Palmas, <br>
            Paseo De Las Palmas 735 <br>
            CDMX. MX
        </p>
    </div>
</div>
    <div class="clause-container">
        <div class="left-top-container">
            <p>
                Date Generated: {{date}} <br> <br>
                5CRE as licensor<br> <br> <br> <br>
                For a location in: {{location}} <br> <br> 
            </p>

            <p>
                Licensee herein licenses the following: <br>
                Desks/Offices: Pricing pursuant to Exhibit A <br>
                Workers/Employees: Pricing pursuant to Exhibit A 
            </p>
        </div>

        <div class="middle-top-container">
            <div>
                <p>
                    <br> <br> 
                    and;
                </p>
            </div>
            <div class="care-container">
                <p>
                    Care of: &nbsp;&nbsp;
                </p>
            </div>
        </div>
        <div class="right-top-container">
            <p>
                <br> <br> 
                {{company}}<br>
                {{licensee}}, As licensee.<br>
                Located at: {{located_at}} <br>
                Phone: {{phone}} <br> 
                Email: {{email}}         
            </p>
        </div>
    </div>
    <div class="left-container">
        <p>
            1.       Employees will be given access to their desk 24 hours a day, 7 days a week <br> <br>
            2.       All furniture, fixtures, and equipment are to be provided by Licensee. Including but not limited to desks and computers. 5CRE has the right to refuse any furniture should it be larger than the standard desks and chairs promoted by 5CRE. Should licensee take a private office, they may furnish it however they like <br> <br>
            3.       Equipment: Licensee will be able to send equipment to: {{specific_location}}. <br> <br>
            Should you need ACH the money to us for a local pickup, 5CRE has the right to charge shipping and handling expenses in their procurement (including but not limited to: cab rides to pick up equipment, cost of labor in putting furniture together) <br> <br>
            5CRE, where possible, will be able to provide computer tech support, equipment support, and furniture assembly; these services shall be charged at an hourly rate separate from this agreement <br> <br>
            4.       5CRE does not warranty or insure Furniture, Fixtures, and Equipment. Licensee understands that they are not named as additional insured on any policies carried by 5CRE or their affiliates and that licensee has equipment at their own risk. Should a tenant license a private office, securing a 
        </p>
    </div>

    <div class="right-container">
        <p>
            dedicated insurance policy may be possible at additional cost. <br> <br>
            5.       Payments are made every two weeks, bi-weekly unless otherwise stated in Exhibit A <br> <br>
            6.       Included in this agreement is: Wyze or similar camera making every desk visible at all times, security, electricity, and HR/Compliance <br> <br>
            7.       Location: unless the licensee has a private office, 5CRE has the right to move the desk at any time at 24 hours’ notice. If a licensee has a private office, we may move them to a similar location on 15 days notice <br> <br>
            8.       Security deposit is collected to cover expenses in non-payment, contract cancellation, premature termination of workers, or this agreement. It is collected to ensure the faithful meeting of obligations met by the licensee. Should there be any remaining money from the deposit, after employment termination expenses have occurred, the remainder shall be returned to the licensee. In addition, any hardware purchased by the licensee can be shipped to the licensee at any time upon payment of shipping and handling costs. Security can be increased to match the one month on hand should wages increase. <br> <br>
            9.       Pricing for workers are noted in Exhibit A unless otherwise stated; typical working hours are Monday thru Friday, 9 am to 6 pm, with 1 hour for lunch. Depending on the country of your worker, there may be severance pay, paid vacation time, 
            
            
            
        </p>
    </div>
</div>

<div class="root-container">
    <div class="left-container">
        <p>
            and sick leave. If these expenses are in excess of the security deposit held with 5CRE, 5CRE shall be required to increase the security deposit. <br> <br>
            10.   Licensee is entirely autonomous from 5CRE. We do not warranty any work done by hired workers; 5CRE provides a safe and secure work environment and a platform for communication and oversight using modern technologies. <br> <br>
            11.   Form of payment: 5CRE accepts checks, e-check/ACH, and wires. A Licensee can pay by Credit card for a 4% fee. Licensee may not, under any circumstances, pay any workers directly in any form; all payments must be made through 5CRE or their affiliates. <br> <br>
            12.   Petty cash: it is advised, but not mandatory, that Licensee keeps a virtual debit card (Paypal, cash app, chime) with 5CRE to cover emergency expenses <br> <br>
            13.   Term and Termination: 5CRE can terminate this agreement at any time, can close the doors to your offices, and terminate employees at the cost of the licensee in the event of non-payment. The contract length is initially two months and can be extended to a maximum of 12 months at the licensee’s discretion. The desk rental fee shall be fixed at the commencement of every contract term. <br> <br>
            14.   Shared Internet is included at the location; should the licensee require a dedicated internet connection, this can be provided as additional equipment. Cleaning is included in the desk rental fee, Should a private office need anything more than a standard cleaning, 5CRE will provide at an additional cost. <br> <br>
            15.   This agreement is subject to reasonable non-monetary change or updates with notice at anytime <br> <br>
            16.   Licensee notes that any workers/employees provided by 5CRE or their affiliates are contractually tied to 5CRE or their affiliates, have signed non-circumvention agreements with them. And that licensee shall be held directly liable for monetary and non-monetary damages should 
        </p>
    </div>
    <div class="right-container">
        <p>
            licensee attempt to remove a worker from the affiliation of 5CRE to a 3rd party without prior expressed written approval <br> <br>
            17. The desk fees are to be collected in US dollars, employee salaries are collected in their local currency via 5CRE’s affiliate. <br> <br>
            18. Vacation Pay: Vacation pay is calculated as 125% of base pay for six workdays during year 1; it will expand to 14 days over 5 years.   <br> <br>
            19. Public Holidays: In Mexico, six public holidays are mirrored on similar dates in the united states. It is against the law to enforce these workdays without paying triple time. A 2.3% premium reserve can be applied to cover these six days. The premium does not cover New Years Day and Christmas Day. This charge is optional and shall not be enforced if missing from Exhibit A. <br> <br>
            20. Christmas Bonus: it is customary and mandatory to pay a Christmas bonus in all LATAM countries. It varies by country. But is calculated on Exhibit A  <br> <br>
            {{clause21_p}}
            At time of generating this agreement: <br> <br>
            1USD = {{MXNU}} Mexican Pesos <br>
            1USD = {{COPU}} Colombian Pesos <br>
            1USD = {{BRLU}} Brazilian Real. 
        </p>
    </div>
        <div class="sign-container">
            <br> <br> 
            <p>Agreed:</p> 
            <br> <br> <br> 
            <div class="left-container">
                <p>
                    ___________________________________ <br>
                    by: {{licensee}} <br>
                    {{company}}. Licensee
                </p>
            </div>
            <div class="right-container">
                <p>
                    ___________________________________ <br>
                    by: {{licensor}} <br>
                    5CRE. Licensor. 
                </p>
            </div>


        </div>
</div>

<div class="root-container">
    <p>
        Exibith A <br>
        Worker Name: {{worker}} 
        <br> <br> <br>
        <strong>SERVICE RELATED PAYMENTS</strong>
        Figures can be in USD or MXN (Mexican Pesos), as specified. Credit card processing fees are additional. Set up a recurring payment with Wise to save up to 4%. <br>
    </p>
    <div class="payment-container">
        <p>
            1. <strong>Onboarding Fee/Deposit.</strong>  A refundable Deposit of ${{onboard_cash}} {{onboard_coin}}, Payable at the signing of the contract in order to hire staff. Charged by {{onboard_affiliate}}. <br> <br>
            2. <strong> Security</strong> Deposit of ${{security_cash}} {{security_coin}} (One month of salary), and Payable at the signing of the contract. Charged by {{security_affiliate}}. <br> <br>
            3. <strong>Bi-weekly Wage Payment of</strong> ${{biwage}} MXN (${{biwage_USD}} USD at time of writing, subject to change), Payable at 1st and 15th of every month, charged by 5CRE’s LATAM affiliate. <br> <br>
            4. <strong> Bi-weekly Rental Fee</strong> of ${{desk_fee_USD}} USD per desk charged by 5CRE <br> <br>
        </p>
        <table>
            <tr>
                <th colspan="8">PAYMENT SCHEDULE</th>
            </tr>
            <tr>
                <th colspan="2">Due Period</th>
                <th>Wage in MXN</th>
                <th>Fee in USD</th>
                <th colspan="2">Due Period</th>
                <th>Wage in MXN</th>
                <th>Fee in USD</th>
            </tr>
            <tr>
                <td rowspan="2">1st month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">7th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td rowspan="2">2nd month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">8th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td rowspan="2">3rd month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">9th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td rowspan="2">4th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">10th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td rowspan="2">5th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">11th month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td rowspan="2">6st month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td rowspan="2">12st month</td>
                <td>1st</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
            <tr>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
                <td>15th</td>
                <td>{{biwage}}</td>
                <td>{{desk_fee_USD}}</td>
            </tr>
        </table>

        <p>
            5. <strong>Other payments.</strong> <br> <br>
            <strong>Christmas bonus:</strong> ${{christmas_MXN}} MXN (${{christmas_USD}} USD at time of writing, subject to change), payable for all workers who have been working at your organization for 4 or more months. Charged by 5CRE’s LATAM affiliate. Payable On December 1. <br>
            {{apartment_p}}
            {{holiday_p}}
        </p>
    </div>
</div>


</body>
</html>